<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/logo.ico">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header id="mainHead">
        <a href="/"><img id="phil-logo" src="images/logo/logo_normal.svg" alt="logo"></a>
        <div class="soc">
            <img id="play" src="images/icon/play.svg" alt="play">
            <a href="" target="_blank"><img id="github" src="images/icon/github-blue.svg" alt="gtihub"></a>
            <a href="" target="_blank"><img id="linkedin" src="images/icon/linkedin.svg" alt="linkedin"></a>
        </div>
    </header>
    <nav id="mainNav">
        <ul>
            <a href="#main"><li class="nav-link"><h2>Portfolio</h2></li></a>
            <a href="#about"><li class="nav-link"><h2>About</h2></li></a>
            <a href="#contact"><li class="nav-link"><h2>Contact</h2></li></a>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <img src="images/logo/logo_mobile.svg" alt="logo">
    </footer>
    <script src="js/main.js"></script>
</body>
</html>