
<div id="mainCon">
    <h2 id="portTitle">Portfolio Pieces</h2>
    <div class="scene-wrap">
        <div class="scene">
            <div class="card">
                <div class="face front-flip">
                    <object id="jet" data-iconref="Games" class="pieces" data="images/svg/jet.svg" type="image/svg+xml"></object>
                </div>
                <div class="face back-flip">
                </div>
            </div>
        </div>
        <div class="scene">
            <div class="card">
                <div class="face front-flip">
                    <object id="chart" class="pieces" data="images/svg/chart.svg" type="image/svg+xml"></object>
                </div>
                <div class="face back-flip">
                </div>
            </div>
        </div>
        <div class="scene">
            <div class="card">
                <div class="face front-flip">
                    <object id="web" class="pieces" data="images/svg/web.svg" type="image/svg+xml"></object>
                </div>
                <div class="face back-flip">
                </div>
            </div>
        </div>
    </div>
    <div id="aboutSec">
        <h2 id="aboutTitle">Who am I?</h2>
        <div id="imgWrap">
            <img src="images/phil.jpg" alt="phil">
            <p>	Hi, my name is Philip Wood, and I’m a full stack developer living in London, Ontario. Currently I’m enrolled in Interactive Media Design at Fanshawe College, and from this course I’ve gained a passion for web development. Upon graduation I intend to continue learning more about my favorite language JavaScript.</p>
        </div>
        <div id="skillCon">
            <div class="skillwrap">
                <h2>Skills</h2>
                <div class="iconwrap">
                    <div class="icon"><img src="images/icon/illustrator.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/photoshop.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/github.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/node.svg" alt="svg"></div>
                </div>
            </div>
            <div class="skillwrap">
                <h2>Languages</h2>
                <div class="iconwrap">
                    <div class="icon"><img src="images/icon/html-5.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/css-3.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/javascript.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/python.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/sass.svg" alt="svg"></div>
                    <div class="icon"><img src="images/icon/mysql.svg" alt="svg"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact">
        <form id="contactForm">
            <label for="name">NAME</label>
            <input id="name" type="text" name="name" placeholder="name">
            <label for="email">EMAIL</label>
            <input id="email" type="email" name="email" placeholder="email">
            <label for="subject">SUBJECT</label>
            <input id="subject" type="text" name="subject" placeholder="subject">
            <label for="message">MESSAGE</label>
            <textarea id="message" name="message"></textarea>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</div>