

#aboutSec {
    #aboutTitle {
        font-size: 50px;
        text-align: center;
    }
    #imgWrap {
        text-align: center;
        img {
            border-radius: 100%;
        }
        p {
            width: 340px;
           margin: 0 auto;
        }
    }
    #skillCon {
        background-color: $main-color;
        .skillwrap {
            .iconwrap {
                display: flex;
                flex-direction: row;
            flex-wrap: wrap;
            }
        }
    }
}

.icon {
    img {
        width: 100px;
    }
}