@mixin tablet {
    @media (min-width: #{600px}){
        @content;
    }
}

@mixin desktopBig {
    @media (min-width: #{1200px}){
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{1000px}){
        @content;
    }
}

#mainNav{
    width: 100%;
    border-top: 5px solid $off-color;
    border-bottom: 5px solid $off-color;
    background-color: white;
    z-index: 10;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include tablet {
            justify-content: center;
        }
        @include desktop {
            justify-content: flex-end;
        }
        a{
            text-decoration: none;
            width: 100%;
            @include tablet {
                width: 200px;
            }
            li {
                padding: 10px;
                text-align: center;
                h2 {
                    color: $off-color;
                    font-family: $main-font;
                    font-size: 30px;
                }
            }
        }
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + #main {
    padding-top: 60px;
}